<div class="card mt-3">
  <div class="card-header">
    <div class="float-left">
      <h4>Alunos</h4>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-primary" routerLink="novo">Novo Aluno</button>
      <!-- <button type="button" class="btn btn-secondary" (click)="testeModal()">modal</button> -->
    </div>
  </div>
  <div class="card-body">
    <table id="tableAlunos" class="table table-hover table-bordered" *ngIf="alunos$ | async as alunos; else loading">
      <thead>
        <tr>
          <th>#</th>
          <th>Aluno</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aluno of alunos" >
          <td>{{ aluno.id }}</td>
          <td>{{ aluno.nome }}</td>
          <td>
            <span class="float-right">
              <button class="btn btn-outline-warning mb-1 btn-sm" (click)="editar(aluno.id)">
                Atualizar
              </button>

              <button class="btn btn-outline-danger mb-1 btn-sm" (click)="remover(aluno.id)">
                Remover
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>


<ng-template #loading>
  <div class="text-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden"></span>
    </div>
  </div>
</ng-template>


<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Confirma a exclusão do(a) aluno(a)?</p>
    <button type="button" class="btn btn-default" (click)="confirmarExclusao()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="cancelarExclusao()">Não</button>
  </div>
</ng-template>


