<div class="card mt-3">
  <div class="card-header">
    <div class="float-left">
      <h4>Cursos</h4>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-primary" (click)="salvar()">Novo Curso</button>
      <button type="button" class="btn btn-secondary" (click)="carregarCursos()">Atualizar</button>
      <!-- <button type="button" class="btn btn-secondary" (click)="testeModal()">modal</button> -->
    </div>
  </div>
  <div class="card-body">
    <table id="tableCurso" class="table table-hover table-bordered" *ngIf="cursos$ | async as cursos; else loading" >
      <thead>
        <tr>
          <th>#</th>
          <th>Curso</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let curso of cursos" >
          <td>{{ curso.id }}</td>
          <td>{{ curso.nome }}</td>
          <td>
            <span class="float-right">
              <button class="btn btn-outline-warning mb-1 btn-sm" (click)="atualizar(curso)">
                Atualizar
              </button>

              <button class="btn btn-outline-danger mb-1 btn-sm" (click)="remover(curso.id)">
                Remover
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- <ng-template #loading>
      <div *ngIf="error$ | async; else loadingNoError" >
        Erro ao carregar os cursos. Tente novamente mais tarde.
      </div>
      <ng-template #loadingNoError>
        <span>Carregando os cursos .....</span>
      </ng-template>
    </ng-template> -->
    <ng-template #loading>
      <div class="text-center">
        <div class="spinner-border" role="status">
          <span class="visually-hidden"></span>
        </div>
      </div>
    </ng-template>

    <ng-template #deleteModal>
      <div class="modal-body text-center">
        <p>Confirma a exclusão do curso?</p>
        <button type="button" class="btn btn-default" (click)="confirmarExclusao()">Sim</button>
        <button type="button" class="btn btn-primary" (click)="cancelarExclusao()">Não</button>
      </div>
    </ng-template>

  </div>
</div>

